<%= form_for @investment, data: { abide: '' }, url: { action: 'create' } do |f| %>
  <div class='row'>
    <div class='small-8 small-offset-2 columns'>
      <h5 class='text-center'>Enter an amount you'd like to contribute for 5 days</h5>
    </div>
  </div>

  <div class='row'>
    <div class='small-4 small-offset-4 columns'>
      <div class='integer-field'>
        <%= f.text_field :amount, pattern: 'number', placeholder: 'amount' %>
        <small class='error'>Must be an integer</small>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='small-4 small-offset-4 columns'>
      <%= f.submit 'Invest', class: 'button tiny' %>
    </div>
  </div>
<% end %>
