<div class="row mission">
  <div class="text-center small-offset-2 small-8  large-offset-4 large-4"><h6>This is our mission, what we're about, why we exist!</h6></div>
</div>

<div class="row how-it-works-button">
  <div class="small-4 small-offset-4 large-4 large-offset-4 columns">
    <%= link_to 'How It Works', howitworks_path, class: 'button radius tiny' %>
  </div>
</div>

