<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<div class="row">
  <div class="small-4 small-offset-4 large-4 large-offset-4 columns">
    <%= link_to 'Invest', new_project_investment_path(@project)  %>
  </div>
</div>
