<div class="row">
  <div class="small-3 small-centered columns">
    <%= link_to image_tag(@user_project.user.image) %>
  </div>
  <div class="small-5 small-centered columns">
    <h6><center>and <%= @user_project.investments.count %> others<center></h6>
  </div>
</div>

<div class="row project-contributors">
  <% @user_project.investments.each do |inv| %>
    <div class="small-2 small-offset-1 left columns"><%= image_tag(inv.user.image) %></div>
  <% end %>
</div>

    <div class="row">
      <div class="progress small-12 medium-12 large-12 success primary color radius round">
        <span class="meter" style="width: 70%"></span>
          <ul class="small-block-grid-3">
            <li class="left"><h5 class="progress-list text-center"><small>Investors<br><strong>4</strong></small></h5></li>
            <li class="left"><h5 class="progress-list text-center"><small>Funded<br><strong>51%</strong></small></h5></li>
            <li class="left"><h5 class="progress-list text-center"><small>Project Total<br><strong>$14</strong></small></h5></li>
          </ul>
      </div>
    </div>

      <ul class="small-block-grid-4">
        <li>
          <h5 class="text-center"><small><strong>Leader</strong></small></h5>
          <a href="#">
            <img class="th team-thumbs leader" src="img/1511906_677289119054129_3404956787009524621_n.jpg">
            <h5 class="project text-center"><small>Patrick<br><i>67¢ / Day</i></small></h5>
          </a>
        </li>

        <li>
          <h5 class="text-center"><small><br></small></h5>
          <a href="#">
            <img class="th team-thumbs" src="img/10505476_991640557517695_1136840688301219328_n.jpg">
            <h5 class="project text-center"><small>Lisa<br><i>47¢ / Day</i></small></h5>
          </a>
        </li>

        <li>
          <h5 class="text-center"><small><br></small></h5>
          <a href="#">
            <img class="th team-thumbs" src="img/1378837_616973249341_5947547798153696866_n.jpg">
            <h5 class="project text-center"><small>Kyle<br><i>64¢ / Day</i></small></h5>
          </a>
        </li>

        <li>
          <h5 class="text-center"><small><br></small></h5>
          <a href="#">
            <img class="th team-thumbs" src="img/10474862_10202011004422746_4511926903451211508_n.jpg">
            <h5 class="project text-center"><small>Igor<br><i>54¢ / Day</i></small></h5>
          </a>
        </li>
      </ul>

    <div class="row">
      <center>
        <a href="#" class="button radius success">Join Project →  </a>
      </center>
    </div>

  <div class="card-bottom">
    <div class="row">
      <div class="small-12 columns">
        <br>
        <p class="text-left">
          Planting trees is cheap. Really cheap. With costs as low as 10¢/tree, Euterpe's are among the most economical way to slow deforestation - crucial to maintaining biodiversity and managing climate change.
        </p>
      </div>
    </div>
  </div>
