// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-page-background {
  background-color: #4FCC99;
}

.mission {
  padding-top: 2em;
}

  h5 {
    color: white;
  }

.start-project-button {
  margin-top: 2.0em;
}

.card {
  padding: 0 1.0em 0 1.0em;
}

.card-subheader {
  font-weight: 200;
  color: gray;
  margin-top: 0.5rem;
  line-height: 1.17;
}

.project-progress {
  border-bottom: 1px solid grey;
  margin-bottom: 0.5em;
}

.progress {
  margin-top: 1.0em;
}

.card {
  background-color: #fafeff;
  margin-bottom: 0.8em;
}
